.color{
  color: #ff525d;
  color:  #ff7a85;
  color:  #1f3f5b;
  color:  #ffffff;
  color:  #c8c8cb;
  color:  #4b5862;
  color:  #25252d;
  color:  #ff8f70;
  color:  #ff3d54;
  color:  #2c2d3f;
  color:  #3f4164;
}